
@{
    ViewBag.Title = "Login";
}

<div class="form-group">
    <div id="modalLogin" class="modal fade" role="form" aria-hidden="true" style="display:none">
        <div class="modal-content">
            <div class="modal-header">
                Ingrese en America Virtual!
            </div>
            <div class="modal-body">
                <div id="modal-content">
                    <form action="Login" method="post">
                        <div class="form-group">
                            <label>Usuario</label><br>
                            <input type="email" autofocus name="user" class="input-group-sm" placeholder="Usuario" />

                        </div>
                        <div class="form-group">
                            <label>Contraseña</label><br>
                            <input type="password" name="password" placeholder="Contraseña" />
                        </div>

                        <div class="form-group">
                            <br />
                            <button type="submit" name="btnConfirmLogin" class="btn btn-block btn-sm"> INGRESAR! </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


