.Body {
    background-color: #e4dada;
    padding-bottom: 0em;
    padding-right: 0em;
    margin-right: 0;

}

.LoginBox {
    background-color: #e4dada;
    height: 430px;
}
.title {
    color: #FF6859;
}

.TitleLogout {
    height: 50px;
    color: black;
    align-self: center;
    position: fixed;
    left: 460px;
    top: 200px;
    height: 300px;
    width: 300px;
}
.LoginBtn {
    height: 50px;
    color: black;
    align-self: center;
    position: fixed;
    left: 300px;
    top: 300px;
    height: 300px;
    width: 50px;
}
.RegisterBtn {
    height: 50px;
    padding-right: 10em;
    color: black;
    align-self: center;
    position: fixed;
    left: 650px;
    top: 300px;
    height: 300px;
    width: 50px;
}
.pais {
    color: gray;
    font-size: 12px;
}
.ciudad {
    color: gray;
    font-size: 18px;
}
.Temperatura{
    color: black;
    font-size: 25px;

}
.ForecastDay {
    color: black;
    font-size: 20px;
    text-align: center;
}
.Dia {
    color: black;
    font-size: 20px;
}
.TemperaturaF {
    color: black;
    font-size: 18px;
}
.botom {
    color: black;
    font-size: 10px;
    text-align: right;
}
.custom-select {
    max-width: 800px;
    width: 500px;
}
.optionSelect{
    font-size: 12px;

}
#title-day{
    text-align:center;
   
}

#ForecastSeparator {
    text-align: center;
}



.vertical-divider div[class^="col-"] + div[class^="col-"] {
    text-align: right;
    border-left: 2px solid #FF6859;
    padding-right: 2em;
    height: 279px;
}



#imgWeather{
    width: 80px;
}
.imgCenter{
    text-align:center;
}

#imgForecast {
    width: 100px;
    text-align: right;
}

.modal-content {
    position: fixed;
    left: 900px;
    top: 50px;
    height: 300px;
    width: 300px;
}

.modal-header{
    text-align:center;
    font-size: 15px;
}


#Nav {
    background-color: #FF6859;
    height: 50px;
   
}

.dropdown-item {
    color: #FF6859;
}

.logo {
    height: 35px;
}

.logo-footer{
    height:20px;
    margin-top: 1px;
}



.cardFirstRow {
    background-color: #ffffff;
    height: 280px;
    border: 2px solid #FF6859;
    border-bottom-color: #FF6859;
    border-left-color: #FF6859;
    border-right-color: #FF6859;
    border-top-color: #FF6859;
    align-content:center;
}
.card {
    background-color: #ffffff;
    border-bottom-color: #FF6859;
    border-left-color: #FF6859;
    border-right-color: #FF6859;
    border-top-color: #FF6859;
}
.card-header {
    background-color: #ffffff;
    color: #504ed1;
    border-bottom-color: #FF6859;
}

.card-forecast {
    height: 280px;
    padding-left: 3em;
   
}



.btn-block {
    background-color: #FF6859;
}

.container-footer {
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 1em;
}
.col-md-2 {
   
}
