
@{
    var Forecast = ViewBag.Forecast;
    double Fahrenheit = 0;
    ViewBag.Title = "Forecast";
}
@if (Forecast != null)
{
    <div class="row vertical-divider">
        <div class="col-md-12 ">
            <div class="card card-forecast ">
                    <div class="row">
                        @{ for (int i = 1; i < 7; i++)
                        {
                            Fahrenheit = (Forecast.daily[i].temp.day * 1.8) + 32;

                            <div class="col-md-2 mx-auto">
                                <div class="row">
                                    <h4 class="ForecastDay">  @DateTime.Now.AddDays(i).DayOfWeek.ToString() </h4>
                                </div>
                                <div class="row">
                                    <img id="imgForecast" src="@Forecast.daily[i].weather[0].icon" />
                                </div>
                                <div class="row">
                                    <h4 class="Temperatura">   °C @Forecast.daily[i].temp.day</h4>
                                </div>
                                <div class="row">
                                    <h4 class="TemperaturaF"> °F @Fahrenheit</h4>
                                </div>

                            </div>
                        }
                    }
                </div>
                
            </div>
                
            </div>
        </div>
    }







