
@{
    ViewBag.Title = "Footer";
}
<hr />
        <div class="row">
            <div class="col-md-10 text-left">
                <p class="text-left">
                    Copyright &copy; @DateTime.Now.Year all right register | America Virtual
                </p>
            </div>
            <div class="col-md-2 active">
                <div class="row ">

                    <img src="../Public/Img/Logo.png" class="d-block m-4 logo-footer" alt="Logo" />
                    <h6 style="padding:8px">America Virtual</h6>

                </div>
            </div>
            
        </div>
    
